.td,
th {
  padding: 6px;
  border: 1px solid rgb(0, 250, 196);
  text-align: center;
}

.tbody,
td {
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
  grid-auto-rows: max-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* https://getbootstrap.com/docs/4.0/components/navbar/ */
.collapse navbar-collapse {
  float: right;
}

.nav-link {
  float: right;
}

.nav-link dropdown-toggle {
  float: right;
}

#navbarDropdown {
  float: right;
}

#navbarSupportedContent {
  float: right;
}